
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
    font-family:   "Merriweather Sans", sans-serif;
}

.carousel-items >img{
    /* object-fit: cover; */
    background-position: center;
    height: 90vh;
    background-size: 100% 100%;
}
/* .badge{ */
    background-color: black;
    text-align: center;
    line-height: normal;

    color: white;
    border: 2px solid;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 40%;
}
.loveic > .cartic{
    position: relative;
}
.loveic > .badge{ 
    position: absolute;
    top: 12px;
    right: 50px;
    
    background-color: blue;
    flex-wrap: wrap;

    height: 13px; 
    text-align: center;
    gap: 2px;
    /* width: 13px ; */
    border-radius: 400%;
    /* padding: 9px 9px; */
    font-size: 8px;
}
.cartic>.badges{
     position: absolute;
    top: 12px;
    right: 20px;
    
    background-color: blue;
    flex-wrap: wrap;
    width:13px ;
    color: #fff;

    height: 13px; 
    text-align: center;
    gap: 2px;
    /* width: 13px ; */
    border-radius: 400%;
    /* padding: 9px 9px; */
    font-size: 8px;

}
nav{
    /* background-image:url(images/william-daigneault-YBl4fQPsBJY-unsplash.jpg) ; */
    background-color: rgb(25, 106, 138);
    color: #fff;
}

.atag{
    margin-right: auto;
    color: brown;
}
.atag> a{
    /* /* color: rgb(35, 74, 190); */
    color: rgb(34, 17, 17);
    padding-right: 1.5rem;
    text-decoration: none;
      text-transform:capitalize ;
}
.about {
    color: #fff;
    border: 2px solid;
    border:none;
    background-color: black;
    padding: 7px;
    /* margin-top: 260px; */

    
}
.about>h2{
    width: 320px;
}
.shop{
    width: 300px;
    font-size: small;
}
.btf{
    padding-right: 48px;
    /* color: rgb(35, 74, 190); */
    font-weight: bolder;
    font-size: larger;
    
}
.mail-bar > a{
    /* color: rgb(35, 74, 190); */
    color: rgb(34, 17, 17);
    padding-right: 10px;
    text-decoration: none;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;

}
/* .bad{
position: relative;
right: 45px;
text-align: center;
} */
.about > button{
    background-color:#fff;
    padding: 3px;
    color: #000;
    border: none;
    border-radius: 20px;
    font-weight: lighter;
    width: 135px;
    height: 35px;
    cursor: pointer;

}
.about>.wel{
    font-size: 13px;
    color: #fff;
    margin-top: 10px;
}
a> span{
    font-size: 10px;
}
.card1{
     border: 1px solid black;
    /* box-shadow: 0 0 9px; */
    background-color: #000;
    border-radius: 10px;
    color: grey;
    background-size: contain;
    /* padding-right: 1rem; */
    /* margin: auto; */
    /* height: 60vh; */
    width: 350px;
    border: none;
    /* padding: 1rem; */
    /* max-width: 300px; */
    text-align: center;
    font-size: 15px;
    /* margin: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1rem; */
}
.why{
    padding-right: 3px;
    text-align: center;
    margin-left: 2rem;
    width: 300px;
}
.card1 h3{
    font-size: 19px;
}
.why2{
    /* width: 300px; */
    /* font-size: 13.5px; */
}
.discount{
    position: relative;
    top: 8px;
    /* left: 10px; */
    background: grey;
    color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    width: 50px;

}
.favourite{
    position: relative;
    bottom: 12px;
    left: 80px;
    font-size: 20px;
    color: grey;

}
.all{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.sec3{
    text-align: center;
    color: rgb(0, 0, 0);
}
.favourite:hover{
    color: white;
}
.product-card{
    border: 1px solid;
    background-color: white;
    border: none;
    box-shadow: 0 0  12px;
    /* background-color: #f5f5dc; */
    width: 200px;
    border-radius: 8px;
    text-align: center;
    margin-block: 4px;
    

}
.pro{
    /* margin-block: 4rem */
}


.product-card:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.card1 > img{
    max-width: fit-content;
    width: 315px;
}
.sec2{
    display: flex;
    flex-direction: row;
     align-items: center;
    justify-content: center;
    gap: 2rem;
    /* margin-top: 40px; */
    background-color: white;
    height: 70vh;
    margin-top: 3.5rem;
}
.title{
    color: #000;
    font-size: 13px;
}
.line{
    text-decoration: line-through;
    color: red;
    font-size: 11px;
}
.name > .fa-solid{
    color: gold;
    position: relative;
    /* bottom: 1rem; */
    font-size: 11px;
}
.name > .fa-regular{
    color: #ccc;
    position: relative;
    /* bottom: 1rem; */
}
.prod{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 18px;
}
.sec4{
    /* background-color: rgb(107, 91, 91); */
    background-size: cover;
    min-height: 400px;
    padding: 10px;
}
.name{
    text-align: center;
    margin: 1px 0;
    margin-bottom: 3px;
    
    /* padding: 5px; */
    position: relative;
    /* bottom: 20px; */
}
.sec3{
    margin-top: 90px;
}
.prods{
    text-align: center;
    font-style: italic;

}
.name i{
    font-size: 12px;
}
.names{
    position: relative;
    bottom: 20px;
    font-size: 11px;
}
.view{
    color: rgb(107, 91, 91);
}
.prods i{
    font-size: 12px;
}
.combo1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    background-color: black;
    height: 70vh;
}
.combo{
    width: 500px;
}
.combo3{
    color: grey;
}
.combo3 > button{
    background-color: grey;
    height: 30px;
    width: 110px;
    border: none;
}
.stock{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0;
}
.sold{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.progress{
    height: 100%;
    background: gold;
    width: 85%;
}
.progress-bar{
    width: 100%;
    height: 11px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.smart{
    display:flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(4. 1fr); */
    /* background-image: url(./images/PHOTO-2025-08-31-17-49-18.jpg); */
    background-color: grey;
    /* background-repeat: no-repeat; */
    background-size: contain;
    gap: 2rem;
    margin-top: 5rem;
    /* max-width: 1000px; */
    /* margin: auto; */
}
.smart h1{
    width: 500px;
}
.smart1 p{
    width:300px;
}
.smart{
    color: rgb(255, 253, 253);
    background-image: url(./images/mariola-grobelska-3GIchyZHxYY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* color: rgba(73, 8, 151, 0.541); */
}
.smart1 button{
    background-color: rgb(255, 253, 253);
    border-radius: 20px;
    height: 30px;
    width: 100px;
    border: none;
}
.pdo{
    display: grid;
     justify-items: center;
     max-width: 1100px;
     margin: auto;

     /* align-items: center;  */
    grid-template-columns:repeat(5,  1fr);
    column-gap: 2rem ;
    /* row-gap: 2px; */
    /* flex-direction: column; */
    /* column-count: 3; */

}
.discount2{
     position: relative;
    top: 8px;
    /* left: 10px; */
    background: rgb(35, 74, 190);
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    width: 50px;

}
.d-block{
    /* width: 130vw; */
    height: 70vh;
    /* max-width: 00px; */
}
.hmm{
    /* width: 50px; */
    border: 2px solid;
    border: none;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
.view2{
    position: relative;
    /* bottom: 10px; */
}
.view4{
    font-weight: 400;
    /* margin-bottom: 25px; */
}
.sec6{
    margin-top: 4rem;
}
.progress{
    background-color: red;
    color: red;
}
.blog{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-left: 170px;
    gap: 2rem;
}
.top{
    width: 300px;
    color: grey;
    margin-top: 1rem;
    padding: 2px;
}

.top2{
    max-width: 300px;
    color: grey;
    margin-top: 1rem;
    padding: 5px;
}
.only{
    border: 2px solid;
    background-color: whitesmoke;
    border: none;
    gap: 1rem;

}
.blog2{
    text-align: center;
    color: grey;
}
.sec7{
    margin-top: 4rem;
    background-image: url(./images/william-daigneault-QPJnkgucg1k-unsplash.jpg);
    padding: 2rem;
}
.feb{
    display: flex;
    justify-content: center;
    gap: 6px;
    color: rgb(107, 91, 91);
    font-size: small;

}
.subscribe{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.subscribe > input {
    padding: 5px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 360px;
    height: 40px;
    outline: none;
}
.subscribe button{
    background-color: rgb(35, 74, 190);
    border-radius: 0 25px 25px 0;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    /* padding: 12px 12px; */
}
.sub{
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-top: 70px;
    padding: 1rem;
}
.sub2{
    color: white
}
.best-at{
    display: flex;
    justify-content: center;
    padding: none;
    gap: 3rem;
    align-items: center;
    position: relative;
    text-align: center;
    top: 2rem;
    font-size: 14px;
    /* margin-top: 3rem; */
}
footer{
    background-color: rgb(107, 91, 91);
}
.last{
    text-align: center;
    margin-top: 6rem;
}
.last p{
    width: 800px;
    text-align: center;
    margin: auto;
}
.socials{
    display: flex;
    gap: 1rem;
    /* text-align: center; */
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
}
.policy{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.2rem;
    font-size: 13px;

}
.hamburger{
    display: none;
}
#toggle{
    display: none;
}

@media(min-width: 300px) and (max-width: 788px){
    .nav-bar{
        width: calc(100% - 40px);
    }
    .hamburger{
        display: block;
        font-size: 1.5rem;
        position: absolute;
        top: 10px;
        left: 10px;
        
        

    }
    .atag{
        position: absolute;
        display: none;
        width: 85%;
        padding: 1.4rem 1rem;
        top: 3rem;
        left: 3px;
        z-index: 1000;
        opacity: 0.8;
        background-color: #fff;
        border-bottom: 4px solid #fff;
        transform: translate(100%, 0);
         transition: transform 0.5s cubic-bezier(0.4, 0, 0.2,1); 
        
    }
    .atag a{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;

    }
    .mail-bar{
        display: flex;
    }
    .loveic > .badge{
        position: absolute;
        right: 65px;
    }
    .cartic >.badges{
        position: absolute;
        right: 38px;
    }
    .carousel-items > img{
        height: 30vh;
         width: 100%;
        object-fit: cover;
    }
    .carousel-item{
        width: fit-content;
    }
    .act{
        max-width: max-content;
    }

    #toggle:checked + .atag{
        overflow: hidden;
        display: block;
        transform: none;
    }

    .nav-bar{
        display: flex;
        justify-content: space-between;
        padding-right: 5rem;
        padding-left: 7rem;
    }
    .sec7{
        max-width: fit-content;
    }
    .policy{
        padding: 16px;
    }
    .para p{
        width:300px;
    }
    .blog{
        flex-direction: column;
        /* object-fit: contain; */
        overflow: hidden;
        width: fit-content;
        position: relative;
        right: 180px;
        justify-content: center;
        align-items: center;
    }
    .sec2{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 19rem;
    }
    .sec4{
        position: relative;
        top: 40rem;
    }
    .best-at{
        flex-direction: column;
    }
    .simp{
        max-width: 200px;
    }
    .combo1{
        position: relative;
        top: 35rem;

        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        gap: 2rem;
        height: 100vh;
    }
    .combo1 img{
        width: 100% ;
        /* padding: 10px; */
    }
    .combo3 .combo{
        width: 130%;
    }
    .combo1>.combo3{
        object-fit: contain;
        max-width: 90% ;
        text-align: start;
        margin-right: 80px;
        padding: none;
        
    }
    .smart img{
        width: 110%;
    }
    .smart >.smart1{
         object-fit: contain;
        max-width: 90% ;
        text-align: start;
        margin-right: 80px;
        padding: none;

    }
    .smart1 p{
        width: 120%;
    }
    .smart1 h1{
        width: 120%;
    }
    .prod{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 15px;

        
    }
    .sec6{
        position: relative;
        top:48rem
    }
    .smart{
        position: relative;
        top: 44rem;
        flex-direction: column-reverse;
          width: 100vw;
        padding: 30px;
        gap: 2rem;
        height: 90vh;
        
    
    }
    .product-card img{
        object-fit: contain;
        width: 73%;
        height: 12vh;
        /* object-fit: cover; */
        /* height: 15vh; */
    }
    .product-card{
        max-width: 135px;
        flex-basis: 20%;
        overflow: hidden;
    }
    .all{
        padding: 10px;
    }
    
    

    .tas{
        display: none;
    }
    /* .tass{
        display: none;
    } */
    .pdo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 15px;
        

    
    }
    .sec7{
        position: relative;
        top: 54rem;
    }
    
    .sub{
        position: relative;
        top: 60rem;
        flex-direction: column;
    }
    .subscribe button{
        padding: 10px;
    }
    footer{
        position: relative;
        top: 60rem;
    }



    


}



